# =========================
# Java (compiled output)
# =========================
*.class
*.jar
*.war
*.ear
out/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# OS / misc
# =========================
.DS_Store
Thumbs.db